@rem: 0.0625rem;
@tmColor: #0288d1;

.Radius(@radius: 0.125rem) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.BoxShadow(@level: 1) {
	.vendors(@val1,@val2) {
		-webkit-box-shadow: @val1, @val2;
		-moz-box-shadow: @val1, @val2;
		-ms-box-shadow: @val1, @val2;
		-o-box-shadow: @val1, @val2;
		box-shadow: @val1, @val2;
	}
	& when (@level = 0) { .vendors(none,none); }
	& when (@level = 1) { .vendors(0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2)) }
	& when (@level = 2) { .vendors(0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2))}
	& when (@level = 3) { .vendors(0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2))}
	& when (@level = 4) { .vendors(0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2))}
	& when (@level = 5) { .vendors(0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.2))}
}

html {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	background-color: rgba(0,0,0,0.1);
}
header {
	display: block;
//	position: fixed;
//	left: 0;
//	top: 0;
	width: 100%;
	overflow: hidden;
	margin: 0;
	color: white;
	background: @tmColor;
	z-index: 99;
	.BoxShadow(2);
	.header_container {
		position: relative;
		box-sizing: border-box;
		margin: auto;
		padding: 0.25rem 0.5rem;
		max-width: 50rem;
		.logo {
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				img {
					display: block;
					padding: 0.25rem;
					width: 2.5rem;
					height: 2.5rem;
				}
			}
		}
		.button {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -1.5rem;
			height: 3rem;
			line-height: 3rem;
			width: 3rem;
			text-align: center;
			background-color: @tmColor;
			&:before {
				content:'';
				display: block;
				position: absolute;
				top: 0;
				left: -1rem;
				width: 1rem;
				height: 100%;
				background: -webkit-linear-gradient(left, transparent 0%, @tmColor 100%);  
			}
			img {
				display: inline-block;
				margin-bottom: -6*@rem;
				width: 1.5rem;
				height:1.5rem;
			}
		}
	}
	h1 {
		display: inline-block;
		margin: 0;
		font-size: 1rem;
		vertical-align: middle;
		span {
			display: block;
			font-weight: normal;
			font-size: 14*0.0625rem;
			opacity: 0.7;
		}
	}
	nav {
		margin: 0;
		overflow-x: auto;
		box-sizing: border-box;
		text-align: center;
		overflow-x: auto;
		z-index: 99;
		color: white;
		background: @tmColor;
		ul {
			display: block;
			padding: 0;
			margin: 0;
			white-space: nowrap;
			li {
				display: inline-block;
				list-style-type: none;
				&.active {
					border-bottom: 3*@rem solid rgba(255,255,255,0.75);
					a {
						color: inherit;
					}
				}
				a {
					display: block;
					padding: 0.5rem 1.75rem;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: bold;
					color: rgba(255,255,255,0.5);
				}
			}
		}
	}
}
main {
	z-index: 98;
//	margin-top: 6.5rem;
}
body.home {
	main {
		display: block;
		overflow: hidden;
		padding: 0 0.5rem;
		.gallery {
			display: none;
			overflow-x: auto;
			text-align: center;
			> div {
				white-space: nowrap;
				a {
					display: inline-block;
					margin: 0;
					img {
						display: block;
						max-height: 15rem;
					}
				}
			}
		}
		article {
			display: block;
			padding: 1rem;
			margin: 1rem auto;
			max-width: 50rem;
			overflow: hidden;
			.Radius;
			background: white;
			.BoxShadow;
			h1 {
				font-size: 1.5rem;
			}
			p {
				margin-left: 1rem;
			}
		}
	}
}
body.developers {
	article {
		margin: auto;
		max-width: 50rem;
		@media (min-width: 50rem) {
			text-align: center;
		}
		h1 {
			display: none;
			font-size: 1.5rem;
		}
		section {
			margin: 0.5rem;
			padding: 1rem;
			border-radius: 0.125rem;
			background-color: white;
			.BoxShadow;
			.ava {
				float: left;
				margin: 0 1.25rem 0.75rem 0;
				@media screen and (max-width: 30rem) {
					display: block;
					text-align: center;
					float: none;
					margin: 0 auto 0.075rem;
				}
				a {
					display: inline-block;
					img {
						display: block;
						height: 5rem;
						width: 5rem;
						max-height: 100%;
						max-width: 100%;
						overflow: hidden;
						border-radius: 100%;
						@media screen and (max-width: 30rem) {
							height: 7.5rem;
							width: 7.5rem;
						}
					}
				}
			}
			.inf {
				text-align: left;
				@media screen and (max-width: 30rem) {
					text-align: center;
				}
				.name {
					margin: 0.5rem 0;
					font-size: 1.125rem;
				}
				.scills {
					margin: 0.5rem 0;
					color: rgb(138,138,138);
				}
			}
			ul {
				clear: both;
				margin: 1rem 0 0 0;
				padding: 0;
				text-align: left;
				@media screen and (max-width: 30rem) {
					text-align: center;
				}
				li {
					display: inline-block;
					position: relativve;
					margin: 0.25rem;
					list-style-type: none;
					padding: 0.25rem 0.75rem;
					border-radius: 1.5rem;
					background: #ccc;
					a {
						margin-bottom: 0.0625rem;
						display: inline-block;
						text-decoration: none;
						text-transform: uppercase;
						color: white !important;
					}
				}
			}
		}
	}
}

footer {
	overflow: hidden;
	padding: 2rem;
	text-align: center;
	color: grey;
//	background-color: lightgrey;
	p {
		padding: 0;
		margin: 0;
	}
}

/*
* Сообщение о работе на сайте
*/

.dev_message {
	width: 35rem;
	max-width: 90%;
	margin: auto;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	border-radius: 0.125rem;
	background-color: white;
	.BoxShadow(3);
	> h1 {
		margin: 1.5rem;
	}
	> div {
		margin: 1.5rem;
		color: grey;
	}
}
